AddCategory/Connected Services/CreateCategories/CreateCategoriesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Shopify.Models" elementFormDefault="qualified" targetNamespace="Shopify.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>